/* Modal general
 * ------------- */
 #safe-container {
    background-color: rgba(230, 230, 230, .50);
    font-family: Arial, Sans-serif;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}
#safe-container #safe-modal {
    background-color: rgba(255, 255, 255, 1);
    border: 1px solid #808080;
    box-shadow: 0 4px 16px rgba(0, 0, 0, .2);
    left: 50%;
    margin-left: -250px;
    padding: 10px;
    position: fixed;
    top: 30px;
    width: 600px;
}
/* Modal "columns" (simulated via table)
 * ------------------------------------- */
 #safe-container table {
    border: none;
}
#safe-container table, #safe-container tbody, #safe-container tr, #safe-container td {
    border-spacing: 0;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
}
#safe-container .safe-column {
    padding: 10px;
}
#safe-container .safe-text-desc {
    padding: 10px;
    margin: 10px;
}
#safe-container .safe-text-sugg {
    padding: 10px;
}
#safe-container .safe-column.safe-price {
    width: 40px;
}
#safe-container .safe-column.safe-nb {
    /* vertical-align: top; */
    width: 150px;
    text-align: right;
}
#safe-container .safe-column.safe-url {
    /* vertical-align: top; */
    width: 150px;
}
/* Modal title
 * ----------- */
 #safe-container #safe-title {
    font-weight: bold;
    margin: 10px;
}
#g2e-container #g2e-title span {
    font-size: 150px;
    font-family:'Open Sans';
    left: 10px;
    position: relative;
    top: -4px;
}
#safe-container #safe-title #safe-close-btn {
    background: white;
    border: none;
    color: #808080;
    cursor: pointer;
    float: right;
    font-size: 20px;
    height: 25px;
    padding: 0 2px;
    width: 25px;
}
#safe-container #safe-title #safe-close-btn:hover {
    color: #696969;
}

#safe-title-score {
    padding: 5px;
}
#safe-footer {
    padding: 10px;
    font-size: 80%;
    color: rgb(100, 100, 100);
}

#safe-map { 
    height: 400px;
    margin: 10px;
}

#safe-subscores {
    padding: 10px;
}

.img-valign {
    vertical-align: middle;
    margin-bottom: 0em;
    margin:0px 0px 0px 25px;
}

.img-valign-popup {
  vertical-align: middle;
  margin-bottom: 1em;
  margin:0px 2px 0px 10px;
}

.img-popup-front {
    vertical-align: middle;
    margin-bottom: 1em;
    margin:0px 2px 0px 0px;
}

.safe-popup-score {
    padding: 0px 5px 0px 0px;
}

.safe-popup-host {
    margin: 10px 0px 0px 0px;
}